@import "fonts.css";
@import "reset.css";
@import "global.css";
@import "header.css";
@import "footer.css";





/*=======================================================*/
.modal {
    position: fixed;
    inset: 0;
    background: #0000005e;
    z-index: 12;

    display: flex;
    align-items: center;
    justify-content: center;

    opacity: 0;
    visibility: hidden;
    transition: all .6s;
}

.body--opened-modal .modal {
    opacity: 1;
    visibility: visible;

}

.modal-window {
    position: relative;
    background: var(--general-bg);
    border-radius: var(--border-radius);
    width: 428px;
    height: 491px;
    padding: 0 60px 60px;
    z-index: -11;
}

.modal__cancel {
    position: absolute;
    right: 20px;
    top: 20px;



}

.modal__cancel path {
    transition: var(--transition);
}

.modal__cancel:hover path,
.modal__cancel:hover rect {
    stroke: #ac907a;

}

.modal__window-content {}

.modal-img {
    margin: -65px 0 12px 22px;
    /* width: 80%; */

}

.modal-title {

    font-size: 42px;
    line-height: 0.9;
}


.modal-txt {
    max-width: 282px;
}



.modal__form-imput {
    border: 1px solid #ac907a;
    border-radius: 100px;
    padding: 19px 42px 19px 28px;
    width: 100%;
    height: 62px;
    font-size: 16px;
    transition: var(--transition);

}

.modal__form-imput:hover {
    border-color: var(--accent-color);

}

.modal__form-label {
    position: relative;
}

.modal__form-label span {
    display: block;
    position: absolute;
    top: -12px;
    left: 28px;
    font-size: 11px;
    color: #ac907a;
    opacity: 0;
    visibility: hidden;
    transition: var(--transition);

}

.modal__form-imput::placeholder {
    transition: var(--transition);
    color: #ac907a;
}

.modal__form-label:focus {
    opacity: 1;
}

.modal__form-imput:focus {
    padding: 26px 42px 12px 28px;

}

.modal__form-imput:focus::placeholder {
    opacity: 0;
}

.modal__form-imput:focus+span {
    opacity: 1;
    visibility: visible;

}

:hover::placeholder {
    border-color: var(--accent-color);
}

.modal__form-submit {
    margin: 30px 0 10px;
    width: 100%;
}



/*=======================================================*/


/*========================.hero=============================================*/


/*===================.burger-menu ==============================*/
.burger-menu {
    display: none;
    width: 50px;
    height: 50px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.burger-menu span,
.burger-menu span::after,
.burger-menu span::before {
    display: block;
    width: 30px;
    height: 3px;
    border-radius: 15px;
    background: var(--accent-color);
    z-index: 11;
    transition: var(--transition);
}

.burger-menu span {

    position: relative;
}

.burger-menu span::after,
.burger-menu span::before {
    content: '';
    position: absolute;
}

.burger-menu span::after {
    top: 6px;
}

.burger-menu span::before {
    bottom: 6px;
}

.body--opened-menu .burger-menu span {
    background: transparent;
}

.body--opened-menu .burger-menu span::after {
    top: 0;
    transform: rotate(45deg);
}

.body--opened-menu .burger-menu span::before {
    bottom: 0;
    transform: rotate(-45deg);
}


/*===================ABOUT==============================*/
/*===================ABOUT==============================*/
.about {
    padding-top: 140px;

}

.about-inner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);

    gap: 40px 53px;
}

.about-main {
    position: relative;
    grid-row: 1 /-1;

}


.about__main-img {

    border-radius: var(--border-radius);
    object-fit: cover;
    object-position: 0% 50%;
    width: 100%;
    height: 100%;

}


.about__img-bage {
    position: absolute;
    bottom: 5%;
    left: 5%;
    display: flex;
    border-radius: var(--border-radius);
    padding: 15px 20px;
    max-width: 299px;
    height: 108px;
    background: #957b97e6;
}

.about__img-bage span {
    display: block;
    line-height: 1.5;
    max-width: 171px;
    color: var(--general-bg);
    margin-left: 10px;

}

.about__img-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 78px;
    height: 78px;
    background: var(--general-bg);
    border-radius: 50%;
    position: relative;
}

.about__img-button::before {
    content: '';
    position: absolute;
    border-radius: 100%;
    inset: 5px;
    border: 1px solid var(--accent-color2);
    border-radius: 50%;
    transition: var(--transition);
    opacity: 0;
}

.about__img-button:hover::before {
    opacity: 1;
}


.about__content-title {
    padding-bottom: 30px;
}


.about__content-txt {
    max-width: 623px;

}


.about-cards {
    display: grid;
    grid-template: repeat(2, 1fr) / repeat(2, 1fr);
    gap: 32px;
}

.about-card {
    display: flex;
    align-items: center;
    padding: 0 23.5px;
    border-radius: var(--border-radius);
    min-width: 296px;
    height: 130px;
    background: var(--fonovyy);
}



.about__card-img img {
    display: block;
    min-width: 21.5px;
    min-height: 21.5px;

}

.about__card-img {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 15px;
    inset: 18px;
    border: 1px solid var(--general-text);
    border-radius: 100%;
    min-width: 60px;
    min-height: 60px;
}

.about__card-txt {
    max-width: 173px;
}

/*===================program ==============================*/
/*===================program ==============================*/


.program-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 60px;
}



.program-title {
    margin-bottom: 20px;
}



.tabs-control {
    display: flex;
    gap: 26px;
    flex-wrap: wrap;

}



.tabs__control-link {
    display: block;
    border-radius: 100px;
    white-space: nowrap;
    padding: 14px 30px;
    box-shadow: 0 4px 20px 0 #cec3b94d;
    transition: var(--transition);

}

.tabs__control-link--active {
    background-color: var(--fonovyy);
    box-shadow: 0 4px 20px 0 rgba(206, 185, 185, 0);

}

.tabs__control-link:hover {
    background-color: var(--fonovyy);

}


.tab-content {

    display: none;
}

.tab-content--show {
    display: block;
}




.accordion-list__item {
    margin-bottom: 30px;
    border: 1px solid var(--accent-color);
    border-radius: var(--border-radius);

}

.accordion-list:last-child {
    margin-bottom: 0px;
}

.accordion-list__item .accordion-list__item--opened {
    padding-bottom: 20px;
}

.accordion-list__control {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;

    padding: 41px 30px;
    width: 100%;

    background: transparent;
    font-size: inherit;
    transition: var(--transition);

}

.accordion__list-control-title {
    font-family: var(--second-family);
    text-align: left;
    font-size: 42px;
    line-height: 0.9;

}

.accordion__list-control-item {
    width: 36px;
    height: 36px;
    border: 1.50px solid var(--accent-color);

    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;


    transition: all .3s;
    border-radius: 50%;
}

.accordiob__content-item path {
    transition: var(--transition);
}

.accordion-list__control:hover .accordion__list-control-item {
    transform: rotate(90deg);
    background: var(--accent-color);
}

.accordion-list__control:hover .accordion__list-control-item path {

    fill: var(--general-bg);

}

.accordion__list-control-item svg {
    margin-left: 2px;

}

.accordion__content-col {
    padding: 0 30px 40px;

}

.accordion-list__item--opened .accordion__list-control-item {
    transform: rotate(90deg);
    background: var(--accent-color);

}

.accordion-list__item--opened .accordion__list-control-item path {
    fill: var(--general-bg);

}

.accordion-list__content {
    transition: var(--transition);
    max-height: 0;
    overflow: hidden;
}



.accordion__content {
    display: flex;
    gap: 80px;
}


.accordion__content-col:first-child {
    max-width: 507px;
    width: 100%;
}

.accordion__content-title {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.6;
    text-transform: uppercase;
    color: var(--accent-color2);
    margin-bottom: 20px;
}



.accordion__content-item {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.accordion__content-item:last-child {
    margin-bottom: 0px;
}

.accordiob__content-icon {
    margin-right: 8px;

    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--accent-color2);
    border-radius: 50%;
    min-width: 24px;

}


.accordion__content-text {
    max-width: 274px;
}

/*----------------*/
.program-bottom {
    margin-top: 40px;
}

.program__bottom-item {
    padding: 40px 40px;
    flex-direction: column;

    height: 232px;
    border-radius: 20px;
    background: var(--fonovyy);
    grid-row: 1 / 3;

}

.program__bottom-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
}

.program__bottom-img img {
    display: block;
    width: 100%;
}

.program__bottom-list {
    display: grid;
    grid-template: repeat(3, auto) / 1.67fr 1fr;
    gap: 40px;
    /* width: 100%; */
    flex-shrink: 1;
}


.program__bottom-title {
    font-size: 20px;
    line-height: 1.5;


}

.program__bottom-txt {
    padding: 7px 0 0 85px;
}




.program__bottom-el {
    padding-left: 13%;
    font-family: var(--second-family);
    font-size: 74px;
    line-height: 82%;
    color: var(--accent-color);
    transform-origin: 0 0;
    animation: program-procent .8s linear infinite alternate;
}

@keyframes program-procent {
    0% {
        transform: scale(1.1) translateX(3%);

        color: var(--accent-color);
    }

    100% {
        transform: scale(1);

        color: #ff9138;
    }

}



.program__bottom-btn {
    max-width: 501px;
    grid-column: -3 / -1;
}



.program__bottom-heading {
    line-height: 1.6;
    color: var(--accent-color2);
    text-transform: uppercase;

}

.program__bottom-price {
    font-family: var(--second-family);
    font-size: 50px;
    line-height: .9;
}

.program__bottom-price--low {
    font-size: 32px;
}

/*===================swiper ==============================*/
/*===================swiper ==============================*/



.gallery-inner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 32px;
    margin-bottom: 40px;

}

.gallery__img {
    justify-self: center;
    align-self: center;
}

.gallery__img img {

    max-width: 100%;
}

.gallery-content {
    display: flex;
    align-items: end;
    justify-content: space-between;
    gap: 15px;
}


.gallery-txt {
    max-width: 380px;
}



.gallery-slide {
    border-radius: var(--border-radius);
    overflow: hidden;
}

.gallery-slide img {
    width: 100%;
}



/*navigation-----------------------*/
.gallery-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;

    font-family: var(--second-family);
    font-weight: 400;
    font-size: 42px;
    line-height: 90%;



}


.gallery__nav-prev.swiper-button-disabled,
.gallery__nav-next.swiper-button-disabled {
    cursor: auto;
    border: 1.50px solid #e1d9e1;
}

.swiper-button-disabled.gallery__nav-next path,
.swiper-button-disabled.gallery__nav-prev path {
    fill: #e1d9e1;

}

.swiper-button-disabled.gallery__nav-next:hover,
.swiper-button-disabled.gallery__nav-prev:hover {
    background: transparent;
}

.swiper-button-disabled.gallery__nav-next:hover path,
.swiper-button-disabled.gallery__nav-prev:hover path {

    fill: #e1d9e1;
}

.gallery__nav-prev,
.gallery__nav-next {
    display: flex;
    background: transparent;
    justify-content: center;
    flex-shrink: 0;
    align-items: center;
    width: 36px;
    height: 36px;
    border: 1.5px solid var(--accent-color);
    border-radius: 50%;
    transition: var(--transition);

}

.gallery__nav-prev path,
.gallery__nav-next path {
    transition: var(--transition);

}

.gallery__nav-prev:hover path,
.gallery__nav-next:hover path {
    fill: var(--general-bg);

}

.gallery__nav-prev:hover,
.gallery__nav-next:hover {

    background: var(--accent-color);


}

.gallery-pagination {
    display: flex;
}



.gallery-nav--media {
    display: none;
}

/*===================@reviews ==============================*/
/*===================@reviews ==============================*/


.reviews-inner {
    display: flex;
    justify-content: space-between;
    align-items: end;
    margin-bottom: 40px;
}

.reviews-info {
    max-width: 632px;

}

.reviews-title {
    margin-bottom: 20px;
}

.reviews__nav-prev,
.reviews__nav-next {
    display: flex;
    background: transparent;
    justify-content: center;
    flex-shrink: 0;
    align-items: center;
    width: 36px;
    height: 36px;
    border: 1.5px solid var(--accent-color);
    border-radius: 50%;
    transition: var(--transition);

}

.reviews__nav-prev path,
.reviews__nav-next path {
    transition: var(--transition);

}

.reviews-nav {
    display: flex;
    gap: 30px;
}

.reviews__nav-prev.swiper-button-disabled,
.reviews__nav-next.swiper-button-disabled {
    cursor: auto;
    border: 1.50px solid #e1d9e1;
}

.swiper-button-disabled.reviews__nav-next path,
.swiper-button-disabled.reviews__nav-prev path {
    fill: #e1d9e1;
}

.swiper-button-disabled.reviews__nav-next:hover,
.swiper-button-disabled.reviews__nav-prev:hover {
    background: transparent;
}

.swiper-button-disabled.reviews__nav-next:hover path,
.swiper-button-disabled.reviews__nav-prev:hover path {
    fill: #e1d9e1;
}

.reviews__nav-prev:hover path,
.reviews__nav-next:hover path {
    fill: var(--general-bg);

}

.reviews__nav-prev:hover,
.reviews__nav-next:hover {
    background: var(--accent-color);
}

.reviews__nav-prev path,
.reviews__nav-next path {
    transition: var(--transition);
}





.reviews-slider {
    overflow: visible;
}

.reviews-wrapper {
    margin-bottom: 40px;
}

.reviews-slide {
    display: flex;
    padding: 30px 30px 30px 30px;
    border-radius: 20px;
    gap: 30px;
    background: var(--fonovyy);
    transform: scale(.9);
    transition: var(--transition);
    opacity: 0;
}

.reviews-slide.swiper-slide-prev,
.reviews-slide.swiper-slide-next {
    opacity: 0.5;
}

.reviews-slide.swiper-slide {

    transform: scale(.9);
    transition: var(--transition);
}

.reviews-slide.swiper-slide-active {
    transform: scale(1);
    opacity: 1;
}


.reviews-scrollbar .swiper-scrollbar-horizontal {
    background: var(--general-bg);
}

.reviews-scrollbar .swiper-scrollbar-drag {
    background: var(--accent-color);
}

.reviews-scrollbar.swiper-scrollbar {
    position: static;
    width: 100%;
    height: 7px;
}

/*-*/
.reviews-student {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-shrink: 0;
}

.reviews__student-img {
    overflow: hidden;
}

.reviews__student-img img {
    border-radius: var(--border-radius);
    width: 100%;
}

.reviews__student-name {
    text-transform: uppercase;
    margin: 20px 0 5px;
}

.reviews__student-inst {
    color: var(--accent-color2);
}



.reviews-quote span {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 32px;
    line-height: .9;
    color: var(--general-text);
    margin-bottom: 10px;
}

/*------------------------------------------------------------*/
/*------------------------------------------------------------*/
/*------------------------------------------------------------*/

.contact {

    padding: 140px 0 145px;
    margin-top: 140px;

    background: url("../img/decor/bg-footer.png") 50% 100% / cover no-repeat;
}

.contact-inner {

    display: flex;
    gap: 82px;
    justify-content: center;
    position: relative;
}



.contact-img img {
    display: block;
    width: 100%;
    filter: drop-shadow(0 4px 30px #c6b0a14d);

}

.contact-img {
    position: relative;
}

.contact-inner::before {
    content: url('../img/decor/berries.png');
    position: absolute;
    top: -12%;
    left: 0;
}

.contact-inner::after {
    content: url('../img/decor/berries-2.png');
    position: absolute;
    top: 7%;
    right: 0;
}

.contact-body {
    position: relative;
}




.contact-txt {
    padding: 20px 0 40px;
}

.contact-body {
    max-width: 420px;
}

.contact-checkbox {
    appearance: none;
    width: 16px;
    height: 16px;
    border: 1.6px solid #AC907A;
    transition: var(--transition);
    border-radius: 4px;
    cursor: pointer;
    position: relative;
}

.contact-checkbox:hover {
    border: 1.5px solid var(--accent-color);
}

.contact-checkbox:checked {
    background: var(--accent-color);
    border: 1.5px solid var(--accent-color);

}

.contact-checkbox::before {
    content: '';
    position: absolute;

    inset: 0;
    background: url("../img/icons/check.svg") no-repeat 50% 50%;
    opacity: 0;
}

.contact-checkbox:checked::before {
    opacity: 1;
}


.contact__form-label-checkbox {
 
    padding: 20px 0;
    font-size: 13px;
}




.contact__form-label-checkbox a {
    text-decoration: underline;
}

.contact__form-imput {
    margin-bottom: 10px;
}

.field-input {
    border: 1px solid #ac907a;
    border-radius: 100px;
    padding: 19px 42px 19px 28px;
    width: 100%;
    height: 62px;
    font-size: 16px;
    transition: var(--transition);
    max-width: 420px;
}

.contact__form-imput-2::placeholder {
    transition: var(--transition);
    color: #ac907a;
}


.contact__form-btn {
    display: block;
    max-width: 420px;
    width: 100%;
    margin-top: 10px;
}


.contact__form-label {
    position: relative;
}

.contact__form-label span {
    display: block;
    position: absolute;
    width: 100px;
    top: -12px;
    left: 28px;
    font-size: 11px;
    color: #ac907a;
    opacity: 0;
    visibility: hidden;
    transition: var(--transition);
}

.contact__form-imput::placeholder {
    transition: var(--transition);
    color: #ac907a;
}

.contact__form-label:focus {
    opacity: 1;
}

.contact__form-imput:focus {
    padding: 26px 42px 12px 28px;

}

.contact__form-imput:focus::placeholder {
    opacity: 0;
}

.contact__form-imput:focus+span {
    opacity: 1;
    visibility: visible;

}









/*===================@media ==============================*/
/*===================@media ==============================*/
@media (max-width:1200px) {
    .hero__img-play {
        margin-top: 20px;
        position: static;
    }

    .hero__img-play span {
        max-width: none;
    }

    .hero__content {
        padding-right: 10%;
    }

    .program-top {
        align-items: stretch;
        flex-direction: column;
        gap: 20px;
    }


}

@media (max-width:1100px) {
    .about__main {
        grid-row: auto;
    }

    .about__content-list {
        grid-column: 1 / -1;
    }

    .about__card-txt {
        max-width: none;
    }

    /*------------------------*/
    .contact-inner {
        align-items: center;
        gap: 30px;
    }
}

@media (max-width:1000px) {
    .footer-inner {
        display: grid;
        grid-template-columns: repeat(2, auto) / repeat(3, auto);
        justify-content: space-between;
        gap: 40px 15px;
    }

    .footer-col:last-child {
        grid-column: 1 / -1;
        text-align: center;
    }



}

@media (max-width:900px) {
    .header__nav {
        position: fixed;
        inset: 0;
        font-size: 24px;
        background: var(--general-bg);
        z-index: 10;
        padding: 23vh 15px 30px;
        transform: translateY(-50%);
        opacity: 0;
        visibility: hidden;
        transition: var(--transition);
    }

    .header__nav-ul {
        align-items: center;
        flex-direction: column;


    }

    .burger-menu {
        display: flex;
    }

    .body--opened-menu .header__nav {
        transform: translateY(0%);
        opacity: 1;
        visibility: visible;

    }

    .program__bottom-img {
        display: none;
    }

    .program__bottom-btn {
        max-width: none;
    }

    /*------------*/
    .gallery__img {
        display: none;
    }

    .gallery-inner {
        display: block;
    }

    .gallery-txt {
        max-width: 500px;
    }

    .contact-img {
        display: none;
    }
}

@media (max-width:800px) {
    .hero__img>img {
        display: none;
    }

    .hero__img {
        display: none;
    }

    .hero__img--mobile {
        display: block;
        margin-bottom: 30px;
    }

    .hero__button button {
        width: 100%;
    }


    .hero__content {
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        text-align: left;
    }

    .hero__txt {
        margin-bottom: 10px;
    }

    .footer-inner {
        gap: 0;
        display: grid;
        grid-template: none;
        justify-content: center;
        text-align: center;

    }

    .footer__socials-list {
        display: flex;
        justify-content: center;
    }

    .footer__logo {
        padding-top: 20px;
    }

    .footer__wt-item {
        justify-content: center;
    }

    .footer {
        padding: 30px 0 30px;
    }

    .footer-col:first-child {
        padding-right: 0;

    }

    .footer-col:nth-child(2) {
        margin: 15px 0 25px;
    }

    .footer-col:nth-child(3) {
        margin: 0 0 25px;
    }

    .copy {
        margin-top: 20px;
    }


    .accordion__list-control-title {
        font-size: 36px;
    }

    .accordion-list__control {
        padding: 30px 25px;
    }

    /*-------===============================-*/
    .about-inner {
        grid-template: none;
        justify-items: center;
    }

    .about__main-img {
        max-width: 500px;
    }

    .about-content {
        text-align: center;
    }

    .about-cards {
        grid-template: none;
    }



    /*-------===============================-*/
    .tabs-control {
        justify-content: center;
        gap: 10px;
    }

    .tabs__control-link {
        padding: 10px 20px;
    }

    .program-title {
        text-align: center;
    }

    .program-top {
        text-align: center;
    }

    .accordion__content {
        display: flex;
        gap: 15px;
        flex-direction: column;
    }

    .accordion__content-title {
        margin-bottom: 10px;
    }

    .program-title {
        font-size: 64px;
    }

    /*-------===============================-*/
    .reviews-inner {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        gap: 30px;
    }

    .reviews-nav {
        align-self: flex-end;
    }

}

@media (max-width:600px) {
    .hero__title {
        font-size: 16vw;
    }

    .hero {
        padding: 50px 0 50px 0;
    }

    /* .heading {
        font-size: 12vw;
    } */

    .accordion-list__control {
        font-size: 28px;
        padding: 21px 15px;
    }

    .accordion__list-control-item {
        width: 30px;
        height: 30px;
    }

    .accordion__list-control-item svg {
        width: 12px;

    }

    .accordion-list {
        margin-bottom: 10px;
    }

    .accordion__content-col {
        padding: 0px 20px 20px;
    }

    .accordion__content-title {
        margin-bottom: 10px;
    }

    .accordion__content-item {

        margin-bottom: 10px;
    }

    .program__bottom-item {
    
        grid-column: 1 / 3;
    }

    .program__bottom-list {
        grid-template: repeat(3, auto) / repeat(2, 1fr);
    }

   
    .gallery-content {
        flex-direction: column;
        align-items: center;
    }

    .gallery__info {
        text-align: center;
    }

    .reviews-title {
        font-size: 70px;
    }

    .reviews-info {
        max-width: none;
    }



    /*---------------*/
    .reviews-slide {
        align-items: center;
        flex-direction: column;
        padding: 10px;
        gap: 10px;

    }

    .reviews-inner {
        margin-bottom: 15px;
    }

    .gallery-inner {
        margin-bottom: 15px;
    }

    .reviews-quote span {
        display: block;

        margin-bottom: 0;
    }

    .reviews-quote {
        text-align: center;

    }

    .contact-tittle {
        text-align: center;

    }
    .contact {
        padding: 90px 0;
    }
}

@media (max-width:450px) {

    /* .heading {
        font-size: 50px;
    }    */
    .about__main-title {
        font-size: 16vw;
    }

    .program-title {
        font-size: 15vw;
    }

    .about-card {
        height: 100px;
    }


    .about__img-bage {
        align-items: center;
        bottom: 0;
        left: 0;
        right: 0;
        border-radius: 0 0 20px 20px;
        padding: 10px 15px;
        max-width: none;
        height: 90px;

    }

    .modal-window {
        padding: 0 15px 60px;
    }

    .program__bottom-list {
        display: block;
        width: 100%;

    }

    .program__bottom-value {
        margin: 15px 0;
        text-align: center;
    }

    .gallery-tittle {
        font-size: 60px;
    }

    .gallery-content {

        gap: 30px 15px;
    }

    .gallery-inner {
        margin-bottom: 20px;
    }

    /*------*/
    .reviews-title {
        font-size: 16vw;
    }

    .reviews-slide {
        padding: 10px;
    }

    /*------*/
    .contact-body {
        max-width: none;
    }

    .contact__form-btn {
        min-width: none;
    }

    .contact-tittle {
        text-align: center;
        font-size: 15vw;

    }

    .contact-txt {
        text-align: center;
        padding: 10px 0 20px;
    }

    .contact-inner::before,
    .contact-inner::after {
        content: none;
    }

    .contact__form-label-checkbox {
        text-align: center;
    }
}