* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

.btn-open {
    width: 200px;
    height: 50px;
    text-align: center;

}

.modal {
    position: fixed;
    inset: 0;
    z-index: 2;
    display: none;
    justify-content: center;
    align-items: center;
    background-color: #000000c1;
    opacity: 0;
    visibility: hidden;
}
.body--fixed{
    overflow-y: hidden;
}
.modal--open {
    display: flex;
    opacity: 1;
    visibility: visible;
}

.modal__window {
    position: relative;
    margin: 0 auto;
    width: 20vw;
    min-height: 50vh;
    padding: 50px 20px 20px 20px;
    background-color: #fff;
    border-radius: 12px;
    color: #000000;
    font-size: 30px;
    text-align: center;
    transition: all .3s;



}



.modal__close-btn {
    position: absolute;
    text-align: center;
    border: none;
    font-size: 25px;
    right: 15px;
    width: 30px;
    height: 30px;
    top: 5px;
    cursor: pointer;
 
}